
html{
    background-color: whitesmoke;
    font-family: Arial;
  
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden; 
}

/*Header-------------------------------------------------------------------------------*/


.header{
    display:flex;
    align-items: center;
    justify-content: space-evenly;
    height: 60px;
    background-color: black;
    color: white;
    padding: 0 10px;
   
}

.logo{
    height:50px;
    width: 100px;
}

span{
   
    font-size: 0.7rem;
}
.nav-address p{
    margin-bottom: 5px;
    margin-left: 3px;
    font-size: 1rem;


}
.nav-address span{
    margin-left: 15px;
}

.second{
    font-size: 0.85rem;
    font-weight: 700;
    margin-top: 5px; }



.search{
    display:flex;
    width: 620px;
    justify-content: space-evenly;
    height: 40px;
}


select{
    background-color: #f3f3f3;
    width:50px;
    text-align:center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border:none;

}
input{
    width: 100%;
    border: none;

}





.search-icon{
    width:45px;
   
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    background-color: #febd68;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    color: #0f1111;
    border: none;
}

.middle p {
    margin-bottom: 5px; }
.third p{
    margin-bottom: 5px;
}
.last p{
    margin-bottom: 5px;
    font-size: 1rem;
    font-weight: 700;
}
.last i{
    font-size: 30px;
    padding: 4px;

   
}
/*Navigation Bar---------------------------------------------------------------------------*/

.nav{
    display: flex;
    height: 30px;
    padding: 10px;
    background-color: #222f3d;
    align-items: centre;
    justify-content: space-evenly;
   }


.nav-other{
    display: flex;
    width: 70%;
    align-items: center;
    
}
.nav-shop{
    display:flex;
    align-items: centre;
}
.nav-all{
    color: white;
    align-items: centre;
    padding-top: 10px;
}

a{
    color:white;
    font-weight: bolder;
    padding: 10px;
   
    text-decoration: none;
}
/*--------------------------------------------------------------------------------------------------*/
.hero_image{
    height: 380px;
    width: 100%;
}
/*-----------------------------------------------------------------------------------------*/
.accesories{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 15px;
    margin-top: 15px;
}
.box{
    height: 480px;
    background-color: white;

}

.box img{
    height: 300px;
    width:320px;
    align-items: center;
    padding: 20px;
    
}
.box h2{
    margin-left: 20px;
}
.box a{
    text-decoration: none;
    padding: 20px;
    color: black;
}

   


.add-icon{
    display: flex;
    align-items: center;
}





/*footer----------------------------------------*/


.footer{
    margin-top: 15px;
}

.bottom{
    height:45px;
    display: flex;
    background-color: #37475a;
    padding-top: 10px;
    color:white;
    justify-content: center;
   
}
.bottom-line{
    display: flex;
    justify-content: space-evenly;
   
    background-color:#222f3d;
    color: white;
    height:500px

}
ul a{
    display: block;
    font-size: 0.85rem;
    font-weight: 400;
    padding-bottom: 4px;
    padding-left: 0px;
}
   
ul{
    margin-top: 10px;
}
.panel{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}
.panel p
{
    margin-left: 35px;
   
}
.panel3{
    height: 70px;
    display:flex;
    background-color:#222f3d;
    align-items: center;
    border-top:0.5px white solid;
    justify-content: center;
    align-items: center;

}
.panel3 img{
    height:50px;
    
    
}
.copy{
    background-color: #0f1111;
    color: white;
    height: 120px;
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    align-items: center;
    font-size: 0.85rem;
    font-weight: 100;
}
/*-----------------------------------------------------------------------------------------------------*/

 

